@model modelList
@using SistemaInventario.Models
@{
    ViewBag.Title = "ActivarCuenta";
    Layout = null;
}

<br />
<br />

<center>
    <span><h2>@Model.msjActivarCuenta.response</h2></span>
    <label>Para inciar sesión, <a href="https://localhost:44300/Home/Index">ingrese aqui</a></label>
    <span>Recuerde que la cuenta estará activa por 15 días. Para obtener una licencia escríbenos a cesar_7391@outlook.com</span>
</center>

